---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const pageDescription = "My Astro Site Home Page";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h3>My awesome blog subtitle</h3>
</BaseLayout>
